@use "helpers" as *;
@import url("https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

$prefix: "pdi23";

.#{$prefix}-wrapper {
  --font-family-base: "Open Sans", sans-serif;
  --font-family-accent: "Lusitana", serif;
  --color-gray: #313131;
  --color-primary: #182b61;
  --color-light: #ecf8ff;
  --color-accent: #c0221f;
  --color-white: #ffffff;

  font-family: var(--font-family-base);
  font-size: fluid(16, 18);
  color: var(--color-gray);
  line-height: 1.4;
}

.#{$prefix}-heading-large {
  font-family: var(--font-family-accent);
  color: var(--color-primary);
  font-size: fluid(32, 36);
  line-height: 1.3;
  font-weight: 700;
}

.#{$prefix}-heading-medium {
  font-family: var(--font-family-accent);
  color: var(--color-accent);
  font-size: fluid(28, 32);
  line-height: 1.3;
  margin-bottom: fluid(24, 40);
}

.#{$prefix}-heading-small {
  color: var(--color-primary);
  font-size: fluid(24, 28);
  line-height: 1.3;
}

.#{$prefix}-button {
  padding: rem(15) rem(24);
  border: rem(1) solid var(--color-primary);
  text-align: center;
  font-size: fluid(20, 22);
  font-weight: 700;
  line-height: 1.2;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;

  &--primary {
    background-color: var(--color-primary);
    color: var(--color-white);

    @include hover {
      color: var(--color-primary);
      background-color: var(--color-white);
    }
  }
  &--secondary {
    background-color: var(--color-white);
    color: var(--color-primary);

    @include hover {
      color: var(--color-white);
      background-color: var(--color-primary);
    }
  }
}

.#{$prefix}-section {
  padding-block: fluid(30, 50);
  background-color: var(--color-white);

  &--light {
    background-color: var(--color-light);
  }
}

.#{$prefix}-container {
  max-width: rem(1600);
  padding-inline: rem(30);
  margin: 0 auto;

  @include medium {
    padding-inline: rem(16);
  }
}
