@use "helpers" as *;
@import url("https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.pdi23-wrapper {
  --font-family-base: "Open Sans", sans-serif;
  --font-family-accent: "Lusitana", serif;
  --color-gray: #313131;
  --color-primary: #182b61;
  --color-light: #ecf8ff;
  --color-accent: #c0221f;
  --color-white: #ffffff;

  font-family: var(--font-family-base);
  font-size: fluid(16, 18);
  color: var(--color-gray);
  line-height: 1.4;
}

.pdi23-heading-large {
  font-family: var(--font-family-accent);
  color: var(--color-primary);
  font-size: fluid(28, 36);
  line-height: 1.3;
  font-weight: 700;
}

.pdi23-heading-medium {
  font-family: var(--font-family-accent);
  color: var(--color-accent);
  font-size: fluid(24, 32);
  line-height: 1.3;
  margin-bottom: fluid(24, 40);
}

.pdi23-heading-small {
  color: var(--color-primary);
  font-size: fluid(20, 28);
  line-height: 1.3;
  font-weight: 700;
}

.pdi23-button {
  padding: rem(15) rem(24);
  border: rem(1) solid var(--color-primary);
  text-align: center;
  font-size: fluid(20, 22);
  font-weight: 700;
  line-height: 1.2;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  transition: all 0.3s ease;

  &--primary {
    background-color: var(--color-primary);
    color: var(--color-white);

    @include hover {
      color: var(--color-primary);
      background-color: var(--color-white);
    }
  }
  &--secondary {
    background-color: var(--color-white);
    color: var(--color-primary);

    @include hover {
      color: var(--color-white);
      background-color: var(--color-primary);
    }
  }
  &--transparent {
    background-color: transparent;
    color: var(--color-white);
    border-color: var(--color-white);

    @include hover {
      color: var(--color-primary);
      background-color: var(--color-white);
    }
  }
}

.pdi23-container {
  background-color: var(--color-white);
  max-width: rem(1610);
  padding-inline: rem(30);
  padding-block: fluid(30, 50);
  margin: 0 auto;

  &--light {
    background-color: var(--color-light);
  }

  @include medium {
    padding-inline: rem(16);
  }
}

.pdi23-base-content {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  color: var(--color-gray);
  font-size: fluid(16, 18);
  line-height: 1.4;

  p {
    color: inherit;
    line-height: inherit;
    font-size: inherit;
  }

  ul {
    padding-left: rem(32);
    li {
      list-style-type: disc;
      color: inherit;
      line-height: inherit;
      font-size: inherit;

      &:not(:last-child) {
        margin-bottom: rem(8);
      }

      &::marker {
        font-size: rem(12);
      }
    }
  }

  a:not(.pdi23-button) {
    text-decoration: underline;
    color: inherit;
    line-height: inherit;
    font-size: inherit;
  }
}
